@charset "utf-8";

@font-face{
  font-family: "Dongle-Light";
  src: url("./assets/fonts/Dongle-Light.ttf")
}

@font-face{
  font-family: "Dongle-Bold";
  src: url("./assets/fonts/Dongle-Bold.ttf")
}

@font-face {
  font-family: "Apple SD Gothic Neo M";
  src: url("./assets/fonts/AppleSDGothicNeoM.ttf");
}